<%- include("partials/header"); -%>

<h1>Delhi</h1>
<p style="color: #000000;">"National Capital Territory" redirects here. For the generic term, see Capital districts and territories.
Not to be confused with New Delhi, the capital of India, entirely within the limits of Delhi.
For other uses, see Delhi (disambiguation).
Delhi
Union Territory and Megacity
National Capital Territory of Delhi
From top clockwise: Lotus Temple, Humayun's Tomb, Connaught Place, Akshardham temple and India Gate
From top clockwise: Lotus Temple, Humayun's Tomb, Connaught Place, Akshardham temple and India Gate
Official logo of Delhi
Emblem
Location of Delhi in India
Location of Delhi in India
Coordinates: 28°36′36″N 77°13′48″ECoordinates: 28°36′36″N 77°13′48″E
Country	 India
Settled	c. 2600 BCE
Capital of Kuru Kingdom	c. 1200 BCE
Capital of Tomara dynasty	c. 1052
Capital of Delhi Sultanate	1214
Capital of British India	1911
Formation of Union Territory[1][2]	1956
Formation of National Capital Territory[3]	1 February 1992
Capital	New Delhi
Districts	11
Government
 • Body	Government of Delhi
 • Lt. Governor	Anil Baijal, IAS[4]
 • Chief Minister	Arvind Kejriwal (AAP)
 • Deputy Chief Minister	Manish Sisodia (AAP)
 • Legislature	Unicameral (70 seats)
 • Parliamentary constituencies
Rajya Sabha (3 seats)
Lok Sabha (7 seats)
Area[5]
 • Union territory	1,484.0 km2 (573.0 sq mi)
 • Water	18 km2 (6.9 sq mi)
Area rank	32nd
Elevation	200–250 m (650–820 ft)
Population (2011)[6]
 • Union territory	16,787,941
 • Density	11,312/km2 (29,298/sq mi)
 • Urban[7]	16,349,831 (2nd)
 • Megacity[6]	11,034,555 (2nd)
 • Metro (2018)[8]	28,514,000 (1st)
Demonym(s)	Delhiite
Languages
 • Official
HindiEnglish[9]
 • Additional official
PunjabiUrdu[9]
GDP (2018–19)[10]
 • Nominal	₹15.80 lakh crore (US$210 billion)[11]
 • Nominal Per Capita	₹592,529 (US$7,900)
 • Metro GDP/PPP (2016)	$370 billion[12]
Time zone	UTC+5.30 (IST)
PINs[13]
110000–110099
Area code(s)	+91 11
ISO 3166 code	IN-DL
Vehicle registration	DL
HDI (2018)	Increase 0.746[14] (High) · 5th
Literacy (2011)	86.21%[15]
Sex ratio (2011)	868 ♀/1000 ♂[15]
Website	delhi.gov.in
Delhi (/ˈdɛli/; Hindi pronunciation: [ˈdɪlːiː] Dillī; Punjabi pronunciation: [ˈdɪlːiː] Dillī; Urdu pronunciation: [ˈdɛɦliː] Dêhlī),[16] officially the National Capital Territory (NCT) of Delhi, is a city and a union territory of India containing New Delhi, the capital of India.[17][18] Located on the Yamuna river, Delhi is bordered by the state of Haryana on three sides and by Uttar Pradesh to the east. The NCT covers an area of 1,484 square kilometres (573 sq mi).[5] According to the 2011 census, Delhi's city proper population was over 11 million,[6][19] while the NCT's population was about 16.8 million.[7] Delhi's urban agglomeration, which includes the satellite cities of Ghaziabad, Faridabad, Gurgaon and Noida in an area known as the National Capital Region (NCR), has an estimated population of over 28 million, making it the largest metropolitan area in India and the second-largest in the world (after Tokyo).[8] Recent estimates of the metropolitan economy of its urban area have ranked Delhi either the most or second-most productive city of India.[12][20] Delhi is the second-wealthiest city in India (after Mumbai), and is home to 18 billionaires and 23,000 millionaires.[21] Delhi ranks fifth among the Indian states and union territories in human development index.[14] Delhi has the second-highest GDP per capita in India (after Goa).[10] Delhi is of great historical significance as an important commercial, transport, and cultural hub, as well as the political centre of India.[22]

The topography of the medieval fort Purana Qila on the banks of the river Yamuna matches the literary description of the citadel Indraprastha in the Sanskrit epic Mahabharata (composed between 400 BCE and 200 CE, but describing an earlier time); however, excavations in the area have revealed no signs of an ancient built environment. In the early 11th-century, a small fort was built in the southern region of Delhi by the Tomaras. From the early 13th-century until the mid-19th century, Delhi was the capital of two major empires of North India, first of the Delhi sultanate and then of the Mughal empire. In 1911, it became the capital of the British Indian Empire. After independence in 1947, it was the capital of the Dominion of India, and since 1950 of the Republic of India. For many centuries, Delhi had been a dominant trading and commercial centre in North India, and since the 1990s it has been a notable part of the international corporate and financial network.[23]

Although a union territory, the political administration of the NCT of Delhi today more closely resembles that of a state of India, with its own legislature, high court and an executive council of ministers headed by a Chief Minister. New Delhi is jointly administered by the federal government of India and the local government of Delhi, and serves as the capital of the nation as well as the NCT of Delhi. Delhi hosted the inaugural 1951 Asian Games, 1982 Asian Games, 1983 NAM Summit, 2010 Men's Hockey World Cup, 2010 Commonwealth Games, 2012 BRICS Summit and was one of the major host cities of the 2011 Cricket World Cup.

Delhi is also the centre of the National Capital Region (NCR), which is a unique 'interstate regional planning' area created by the National Capital Region Planning Board Act of 1985.[24][25]</p>
