<%- include("partials/header"); -%>


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Search Your Destintion</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/home.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <form class="" action="/requirement" method="post">
    <label for="basic-url" class="form-label">Enter Your Requirements</label>

    <div class="input-group mb-3">
      <input name="cityName" type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <input name="st" type="text" class="form-control" placeholder="State" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>

    <div class="input-group mb-3">
      <input name="mt" type="text" placeholder="Maximum Tempararure" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      <input name="mint" type="text" placeholder="Minimum Temparature" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      <input name="hum" type="text" placeholder="Humidity" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>



    <div class="input-group mb-3">
      <input name="bus" type="text" class="form-control" placeholder="Bus stand name" aria-label="Username">
    </div>

    <div class="input-group mb-3">
      <input name="rail" type="text" class="form-control" placeholder="Railway station name" aria-label="Username">
    </div>

    <div class="input-group mb-3">
      <input name="air" type="text" class="form-control" placeholder="Airport name" aria-label="Username">
    </div>

    <div class="input-group mb-3">
      <input name="scl" type="text" class="form-control" placeholder="School name" aria-label="Username">
    </div>

    <div class="input-group mb-3">
      <input name="clg" type="text" class="form-control" placeholder="College name" aria-label="Username">
    </div>

    <div class="input-group mb-3">
      <input name="crime" type="text" class="form-control" placeholder="Crime rate" aria-label="Username">
    </div>

    <div class="input-group mb-3">
      <input name="sh" type="text" class="form-control" placeholder="Sexual Harassment rate " aria-label="Username">
    </div>

    <div class="input-group mb-3">
      <input name="pv" type="text" class="form-control" placeholder="Proversty rate" aria-label="Username">
    </div>

    <div class="input-group mb-3">
      <input name="pr" type="text" class="form-control" placeholder="Population rate" aria-label="Username">
    </div>

    <div class="input-group mb-3">
      <input name="er" type="text" class="form-control" placeholder="Education rate" aria-label="Username">
    </div>


<div class="">
  <button style=" border-top-width: 1px;margin-top: 20px;"class="btn btn-outline-success" type="submit">Search</button>
</div>
  </form>



 <!-- <div class="feature-box col-lg-6">
   <form class="d-flex" action="/requirement" method="post">
     <input name="cityName" class="form-control me-2" type="requirement" placeholder="Search For Finding Home Location" style="color:#43C6DB" aria-label="Search">
     <button class="btn btn-outline-success" type="submit">Search</button>
   </form>
 </div> -->

</body>

</html>
