<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Search Your Destintion</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/home.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <section class="colored-section" id="title" style="height: 100.7px;  ">


    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">Search Your Destination</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cta">Download</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </section>



  <!-- Search bar -->

  <section class="search-bar">
    <div >
      <div >
        <form class="d-flex" action="/search" method="post">
          <input name="cityName" class="form-control me-2" type="search" placeholder="Search For Finding Home Location" style="color:#43C6DB" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>

    </div>
    <div>
    <h1>OR</h1>
    <h2><a style="color: #181c29;" href="/travel">Enter your travel location</a></h2>

    </div>
    <div>
    <h1>OR</h1>
    <h2><a style="color: #181c29;" href="/requirement">Enter your requirements</a></h2>

    </div>
  </section>

  <!--  Travel description -->


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">

        <div class="feature-box col-lg-3">
          <img src="images/TajMahal.jpg" style="width: 302.95px;height: 200.95px;" alt="">
          <h3><a href="/delhi">Delhi</a></h3>
        </div>

        <div class="feature-box col-lg-3">
          <img src="images/Srinagar.jpg" style="width: 322.95px;height: 200.95px;" alt="">
          <h3>Srinagar</h3>
        </div>

        <div class="feature-box col-lg-3">
          <img src="images/Shimla.jpg" style="width: 322.95px;height: 200.95px;" alt="">
          <h3>Shimla</h3>
        </div>
        <div class="feature-box col-lg-3">
          <img src="images/Mumbai.jpg" style="width: 322.95px;height: 200.95px;" alt="">
          <h3>Mumbai</h3>
        </div>
      </div>


      <div class="row">
        <div class="feature-box col-lg-3">
          <img src="images/mysore.jpg" style="width: 322.95px;height: 200.95px;" alt="">
          <h3>Mysore</h3>
        </div>

        <div class="feature-box col-lg-3">
          <img src="images/Mehrangarh fort.jpg" style="width: 322.95px;height: 200.95px;" alt="">
          <h3>Rajasthan</h3>
        </div>

        <div class="feature-box col-lg-3">
          <img src="images/Kutch.jpg" style="width: 322.95px;height: 200.95px;" alt="">
          <h3>Kutch</h3>
        </div>
        <div class="feature-box col-lg-3">
          <img src="images/Kanatal.jpg" style="width: 322.95px;height: 200.95px;" alt="">
          <h3>Kanatal</h3>
        </div>
      </div>



      <div class="row">
        <div class="feature-box col-lg-3">
          <img src="images/Kerala.jpg" style="width: 322.95px;height: 222.95px;" alt="">
          <h3>Kerala</h3>
        </div>

        <div class="feature-box col-lg-3">
          <img src="images/Goa.jpg" style="width: 322.95px;height: 222.95px;" alt="">
          <h3>Goa</h3>
        </div>

        <div class="feature-box col-lg-3">
          <img src="images/GoldenCity.jpg" style="width: 322.95px;height: 222.95px;" alt="">
          <h3>Jaisalmer</h3>
        </div>
        <div class="feature-box col-lg-3">
          <img src="images/GoldenTemple.jpg" style="width: 322.95px;height: 222.95px;" alt="">
          <h3>Amritsar</h3>
        </div>
      </div>


      <div class="row">
        <div class="feature-box col-lg-3">
          <img src="images/Assam.jpg" style="width: 322.95px;height: 222.95px;" alt="">
          <h3>Assam</h3>
        </div>

        <div class="feature-box col-lg-3">
          <img src="images/ladakh.jfif" style="width: 322.95px;height: 222.95px;" alt="">
          <h3>Ladakh</h3>
        </div>

        <div class="feature-box col-lg-3">
          <img src="images/Amer fort.jpg" style="width: 322.95px;height: 222.95px;" alt="">
          <h3>Jaipur</h3>
        </div>
        <div class="feature-box col-lg-3">
          <img src="images/Holy-city.jpg" style="width: 322.95px;height: 222.95px;" alt="">
          <h3>Varanasi</h3>
        </div>
      </div>
    </div>

  </section>

</body>

</html>
