
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
color : #43C6DB ;
}

/* Headings */

 .big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid{
  padding: 7% 15%;
}



/* Navigation Bar */ */

 .navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}



/* Title Section */

#title {
  background-image: url("https://wallpaperfx.com/view_image/tropical-beach-corner-1600x1200-wallpaper-14865.jpg");
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 1% 15% 31%;
}




/* Search */

.search-bar{
  padding: 8% 9% 2%;
}


.btn:hover {
  background-color:  #0AFFFF;
}

/* Features Section */

#features {
  position: relative;
  text-align: left;
}

.feature-title {
  color : #43C6DB ;
  font-size: 1.5rem;
}



.icon {
  color:#43C6DB;
  margin-bottom: 1rem;
}

.icon:hover {
  color:  #0AFFFF;
}

.feature-box {
  padding: 4% 2%;
}
img
{

  padding-right: 80px;
}
